services:
  od46s-test-labs-client:
    image: od46s-test-labs-client
    container_name: od46s-test-labs-client
    build:
      context: ./dainf-lab-client
      dockerfile: Dockerfile
    ports:
      - "${CLIENT_HOST_PORT}:${CLIENT_CONTAINER_PORT}"
    environment:
      API_URL: ${API_HOST_URL}
    labels:
        # Traefik Config
      - "traefik.enable=true"
      - "traefik.http.routers.od46s-test-labs-client.rule=Host(`${CLIENT_HOST_URL}`)"
      - "traefik.http.routers.od46s-test-labs-client.tls.certresolver=letsencrypt"
      - "traefik.http.routers.od46s-test-labs-client.entrypoints=websecure"
    restart: unless-stopped
    profiles: ["app"]

  od46s-test-labs-api:
    image: od46s-test-labs-api
    container_name: od46s-test-labs-api
    build:
      context: ./dainf-lab-server
      dockerfile: Dockerfile
    ports:
      - "${API_HOST_PORT}:${API_CONTAINER_PORT}"
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - COMPOSE_PROJECT_NAME=od46s-test-labs
      - SERVER_PORT=${CONTAINER_PORT}
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MINIO_URL=${MINIO_URL}
      - MINIO_BUCKET=${MINIO_BUCKET:od46s-test-labs}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}      
      - TZ=America/Sao_Paulo
    labels:
        # Traefik Config
      - "traefik.enable=true"
      - "traefik.http.routers.od46s-test-labs-api.rule=Host(`${API_HOST_URL}`)"
      - "traefik.http.routers.od46s-test-labs-api.tls.certresolver=letsencrypt"
      - "traefik.http.routers.od46s-test-labs-api.entrypoints=websecure"
    profiles: ["app"]
